{% verbatim %}
<script id="item-people-complaint" type="text/x-handlebars-template">
<div class="js-people-complaint-item form-group">
    <label for="personcomplaint_set-{{id}}">Persona denunciada</label>
    <div class="input-group">
        <input type="text" class="form-control" name="personcomplaint_set-{{id}}" id="personcomplaint_set-{{id}}">
        <span class="input-group-btn">
            <button class="js-people-complaint-item-btn-remove btn btn-danger" type="button">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </span>
    </div>
</div>
</script>
{% endverbatim %}
