{% extends 'layout/base.html' %}
{% load block_tags %}

{% block title %}No tiene permiso |{% endblock %}

{% block content %}
<div class="error-404 text-center">
    <div class="container">
        <p class="title">403</p>
        <div class="main-background"></div>
        <div class="description">
            <h1>NO TIENE PERMISO</h1>
            <h2>USTED NO CUENTA CON PERMISOS SUFICIENTES PARA VISITAR ESTE RECURSO.</h2>
            <p><a class="go-back-link" href="/">« Atras / Home</a></p>
        </div>
    </div>

    {% get_link_list 'home' %}
</div>
{% endblock %}
